*{
    margin: 0; 
    box-sizing: border-box; 
    padding: 0; 
} 
body{
    font-family: Arial, Helvetica, sans-serif;
} 
.flex-container{
    /*flex-direction: column;
    height: 500px;*/  
    display: flex;
    background: gray;
    /*Always is on the main axis*/ 
    /*justify-content: space-between;*/  
    /*Always is on the cross axis*/ 
    /*align-items: start;*/ 
    /*flex-wrap: wrap;*/
}

/*.flex-container::after{
    clear: both; 
    content: ""; 
    display: block;
}*/
.item{
    flex: 1 0 100px;
    /*width: 100px;*/ 
    height: 100px; 
    background: rgb(59, 5, 117); 
    color: rgb(247, 241, 241); 
    margin: 10px;  
    /*float: left;*/ 
    display: flex; 
    justify-content: center; 
    align-items: center;
} 
/*.item:nth-of-type(3){ 
    align-self: end; 
}*/ 
.item:nth-of-type(1){
    /*order: 2; 
    flex-basis: 200px;
    flex-grow: 1; 
    flex-shrink: 1;*/
}   
.item:nth-of-type(2){
    /*order: 3;
    flex-grow: 2; 
    flex-shrink: 2;*/
}   
.item:nth-of-type(3){
    /*order: 1; 
    flex-grow: 1; 
    flex-shrink: 3;*/ 
} 


